.atc-info-header{

    text-align: center;
    font-size: 30px;
}

.atc-info-atis {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(45, 45, 46);
    border-radius: 10px;
}

.atc-info-atis span {
    font-size: 20px;

}

.atc-info-control {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(45, 45, 46);
    border-radius: 10px;
}