.sidebar {
    color: #fff;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
  }

  .logo-icon {

    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    border-radius: 50%;
    background: rgb(28, 17, 41, 0.88);    
  }

 .menu-bar {
  height: 88vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
 } 

 
/* Oculta a barra de rolagem mas permite o scroll com o mouse */
.statistics-panel {
  width: 400px; /* Ajuste o tamanho conforme necessário */
  background-color: #1f1f1f;
  color: #ecf0f1; 
  overflow: hidden; /* Oculta a barra de rolagem */
  overflow-y: scroll; /* Permite o scroll vertical */
}

/* Para navegadores Webkit (Chrome, Safari, etc.) */
.statistics-panel::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem */
}


