.statistics-header {
    background-color: #03459c;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }
  
  .statistics-header h3 {
    margin: 0;
    color: white;
  }
  
  .statistics-header p {
    color: white;
  }
  
  .statistics-content {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .statistics-section {
    margin-bottom: 20px;
  }
  
  .statistics-section h4 {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
  }
  
  