/* UserInfoSidebar.css */

.user-info-sidebar {
  position: absolute;
  width: 317px;
  background-color: #1f1f1f;
  color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  left: 0;  /* Alinha à esquerda */
  top: 0;
  bottom: 0;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
  scrollbar-width: none; /* Para Firefox */
}

/* Para navegadores baseados em WebKit (Chrome, Safari) */
.user-info-sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.user-info-sidebar-enter {
  transform: translateX(-100%);
}

.user-info-sidebar-enter-active {
  transform: translateX(0);
}

.user-info-sidebar-exit {
  transform: translateX(0);
}

.user-info-sidebar-exit-active {
  transform: translateX(-100%);
}

.imageLivery {
  width: calc(100% + 40px); /* Adiciona 40px para compensar o padding do sidebar */
  margin: -20px -20px 0 -20px; /* Remove o padding extra */
  overflow: hidden;
}

.imageLivery img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 0; /* Remove as bordas arredondadas */
}

.usercallsign {
  background-color: #03459c;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
}

.circuloIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  margin-right: 10px;
  font-size: 24px;
}

.userroute {
  background-color: #1868d1;
  padding: 10px;
  margin-left: -20px;
  margin-right: -20px;
}

.userroute span {
  font-size: 25px;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1868d1;
  padding: 10px;
  border-radius: 10px;
  margin-left: 0;
  
}

.progress-bar {
  flex-grow: 1;
  height: 6px;
  background-color: #333;
  margin: 0 5px;
  border-radius: 5px;
  position: relative;
}

.progress {
  background-color: #4caf50;
  height: 100%;
  border-radius: 5px;
  position: relative;
}

.progress-icon {
  color: #fff;
  position: absolute;
  top: -4px;
  transform: translateX(-50%);
}

.col-info-flight-user {
  display: flex;
  gap: 20px;
}

.info-box {
  width: 90px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(45, 45, 46);
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.info-box span {
  font-size: 15px;
  font-weight: bold;
}

.info-box p {
  font-size: 10px;
  margin: 0;
  color: #666;
}

.info-box-user {
  width: 90px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(110, 110, 240);
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.route-info-user {
  margin-top: 20px;
 
  padding: 10px;
  background-color: rgb(45, 45, 46);
  border-radius: 10px;
}

.waypoints-container {
  margin-top: 15px;
}

.inforusername {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(45, 45, 46); 
  border-radius: 10px;
  text-align: center;
  margin-bottom: 16px;
}

.stream-icons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
  font-size: 40px;
}

.stream-icons a {
  color: inherit;
  text-decoration: none;
}
