
.statistics-section ul {
  list-style: none;
  padding: 0;
}

.statistics-section ul li {
  margin-bottom: 5px;
}

.airport-stat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #282828;
  padding: 10px;
  border-radius: 5px;
}

.airport-table-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
}

.inbound, .airport, .outbound, .atc-status {
  color: white;
}

.inbound {
  flex: 1;
  text-align: left;
}

.outbound {
  flex: 1;
  text-align: right;
}

.statistics-session {
  font-size: 25px;
  text-align: center;
}

.statistics-user-count {
  padding: 10px;
  text-align: center;
}

.statistics-user-count span {
  color: rgb(12, 158, 73);
}

.statistics-section-atc {
  margin-bottom: 20px;
}

.statistics-section-atc h4 {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px;
}

.statistics-section-atc ul {
  list-style: none;
  padding: 0;
  overflow-x: auto;
}

.statistics-section-atc ul li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.atc-status {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .statistics-header, .statistics-content {
      margin-left: 10px;
      margin-right: 10px;
  }

  .airport-stat, .statistics-section-atc ul li {
      flex-direction: column;
      align-items: flex-start;
  }

  .inbound, .airport, .outbound, .atc-status {
      text-align: left;
  }

  .atc-status {
      justify-content: flex-start;
  }
}

